.et-fork {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: 0;
}

.et-top {
  height: 150px;
  padding: 10px 5%;
}

#mocha-stats {
  position: absolute;
}
#mocha-stats .progress {
  display: none;
}
#mocha .test pre.error {
  max-height: inherit;
}
