*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.css
*.bat
*~
.idea
*.iml
.DS_Store

logs
tmp

node_modules
test/bower_components
test/src
test/template
test/spec/compiler/settings.js
test/spec/compiler/test.js
