<html>
<head>
  <title>SystemJS/TypeScript Sample</title>

</head>
<body>
  <h1>ET Test</h1>
  <textarea id="expect" style="width: 100%; min-height: 100px;margin-bottom: 10px" placeholder="Expect result"></textarea>
  <br>
  <textarea id="options" style="width: 100%; min-height: 100px;margin-bottom: 10px" placeholder="Options uesd in ET"></textarea>
  <br>
  <textarea id="input" style="width: 100%; min-height: 220px;margin-bottom: 10px" placeholder="html to compile"></textarea>
  <br>
  <button id="btn" style="width: 100%; line-height: 30px;margin-bottom: 10px">编译</button>
  <script src="http://localhost:8080/index.js"></script>
</body>
</html>